.WholeContainer { 
    /* FOR DEVELOPMENT PURPOSES */
    background-color: #5C5B5C;
    height: 100vh;
}

.HeaderNav {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.534);
    height: 10vh;
}


.NavigationBar {
    margin-left: 60%;
    align-self: center;
    /* FOR DEVELOPMENT PURPOSES */
    /* border: 1px solid palegoldenrod; */
}
.NavigationLinks {
    color: white;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 40px;
}

.AboutContainer {
    display: flex;
    flex-direction: row;
}

.AboutTextContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 13%;
    margin-top: 10%;
}

.AboutHeader {
    color: #243971;
    font-size: 2.8em;
    text-transform: uppercase;
    margin: 0px 0px 5px 0px; 
    padding: 0px 0px 0px 0px;
}

.AboutParagraph {
    color: white;
    margin: 0px 0px 5px 0px; 
    padding: 0px 0px 0px 0px;
    width: 80%;
}

.AboutImgContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 10%;
}
